@import "../bootstrap/scss/bootstrap.scss";

@mixin general-paragraphe($hr-size, $p-size) {
    h6{
        font-size: $hr-size !important;
        letter-spacing: normal !important;
    }
    p{
        font-size: $p-size !important;
        line-height: 1 !important;
    }
}

*, a{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    color: #f7f9f9;
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
    object-fit: cover;
}
.no-border{
    border: none !important;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
.bg-dark{
    background-color: #182029 !important;
}
.bg-light{
    background-color: #1f2934 !important;
}
.btn{
    padding: 10px;
    background-color: #2A3645;
    color: #f7f9f9;
    font-size: 13px;
    letter-spacing: 1px !important;
}
.btn:hover{
    color: #293340 !important;
    background-color: #c18cee;
}
.col{
    bottom: 0;
    transition: bottom 0.2s;
}
.col:hover{
    bottom: 3px;
}
.w-80{
    width: 80% !important;
}
.w-90{
    width: 90% !important;
}
.w-95{
    width: 95% !important;
}
.h-70 {
    height: 70% !important;
}
.h-80 {
    height: 80% !important;
}
.h-90 {
    height: 90% !important;
}
body{
    font-family: Arial, Helvetica, sans-serifata;
}

.wrapper{
    width: 100%;
    padding: 0 50px;
}
header{
    height: 150px;
    .logo{
        width: 90px;
        height: 55px;
    }
    a{
        color: white;
    }
    a::after{
        content: "<i class="fas fa-circle"></i>";
    }
}

.cover{
    min-height: 500px;
    background-image: url(../images/autumn-studio-zv3ckJKftC4-unsplash.jpg);
    background-size: cover; 
    .col{
        height: 400px;
        a .body{
            @include general-paragraphe(18px, 13px);
        }
    }
}

main{
    .row{
        .col{
            min-height: 650px;
            background-color: #1f2934; 
            a{
                .item-img-container{
                    height: 40vh;
                    min-height: 300px;
                }
                .item-details{
                    padding: 25px !important;
                    line-height: 1.3;
                    h4{
                        font-size: 26px;
                        font-weight: 400;
                        line-height: 1.3;
                    }
                    p,h6{
                        font-size: 15px !important;
                        opacity: 0.8;
                    }
                }
            }
            a:hover{
                text-decoration: none;
            }
            .btn{
                left: 25px;
                bottom: 25px;
            }
        }
    }
}

.fashion{
    .header{
        padding: 30px 60px 15px !important;
        a{
            font-size: 14px;
        }
        a:hover{

            span{
                padding-left: 10px !important;
            }
        }
    }
    
    .special{
        height: 500px;
        .row{
            padding: 60px 50px 45px !important;
            .col{
                height: 370px;
                .img-container{
                    height: 200px;
                }
                .body{
                    padding: 15px 25px 20px 18px;
                    @include general-paragraphe(13px, 18px)
                }
            }
        }
    }
}

.subscribe{
    min-height: 500px;
    background-image: url(../images/autumn-studio-zv3ckJKftC4-unsplash.jpg);
    background-size: cover;
    .header{
        height: 200px;
        background-color: #c18cee;
        h1{
            color: #182029;
            line-height: 18px;
        }
        .input, .btn{
            font-size: 20px !important;
            height: 80px;
        }
        .input{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
            input{
                width: 325px;
                padding-right: 50px;
                transition: padding-right 0.5s;
            }
            ::placeholder {
                color: white;
            }
            input:focus{
                padding-right: 80px;
            }
        }
        .btn{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .btn:hover{
            background-color: white !important;
            color: #182029 !important;
        }
    }
    .body{
        p{
            height: 270px;
            font-size: 32px !important;
        }
    }
}

.widget{
    .authors-block, .tags-block{
        .header, .header a{
            font-size: 14px !important;
        }
    }

    .authors-block{
        .authors{
            min-height: 280px;
            h5{
                font-size: 14px !important;
                padding: 10px;
            }
        }
    }

    .tags-block{
        .tags{
            min-height: 280px;
            .btn{
                border-radius: 10px;
                margin: 5px;
            }
        }
    }
}

footer{
    .logo{
        width: 60px;
        height: 35px;
    }
    h6{
        font-size: 11px;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    a, p ,h6{
        letter-spacing: 1.7;
    }
    a{
        font-size: 15px;
    }
    a:hover{
        color:#c18cee;
    }
    p{
        font-size: 14px;
    }
    li{
        line-height: 30px;
    }
    .social{
        .col{
            height: 53px;
            width: 53px;
            line-height: 53px;
            text-align: center;
            border-radius: 10px;
            margin: 0 5px 5px 0;
            a{
                font-size: 18px;
            }
        }
        .col:hover{
            background-color: #c18cee !important;
            a i{
                color: #293340 !important;
            }
        }
    }
    
}

.copy-right{
    min-height: 30px;
    p{
        width: 250px;
    }
    p, a{
        font-size: 11px;
        font-family: monospace;
        color: rgb(106, 104, 104);
    }
}